/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    margin: 0 15px;
    color: #333;
    font-weight: bold;
}

.mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
}

.hero-logo {
    max-width: 100%;
    height: 8.5vh;
}


/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 10px;
    background-color: #e8f0fe;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.hero-img {
    max-width: 50%;
    height: auto;
}

/* Services Section */
.services {
    padding: 50px;
    text-align: center;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    background-color: white;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.social-media a img {
    width: 30px;
    margin: 0 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        max-width: 80%;
    }

    .service-cards {
        flex-direction: column;
    }

    .card {
        width: 80%;
        margin-bottom: 20px;
    }

    .mobile-menu-btn {
        display: block;
    }

    .navbar {
        display: none;
    }

    .navbar.active {
        display: block;
    }
}